button{
    border:none;
    background: #d9d9d9;
}
button:hover{
    background-color:#777E8B;
    transform: scale(1.1);
    color:white;
}
body{
    background-color : rgba(8, 141, 174, 0.723);
}
label{
    color: whitesmoke;
}